<div class="col-12 col-md-6 mx-auto py-4">
    <form action="/events/new" method="POST">
        <input class="form-control" name="title" type="text" placeholder="title"> <br>
        <textarea class="form-control"  name="description" cols="30" rows="3" placeholder="description"></textarea> <br>
        <input  class="form-control" name="location" type="text" placeholder="location"> <br>
        <input class="form-control"  name="date" type="date" placeholder="date"> <br> 
{{!-- http://localhost:3000/events/new --}}
    <button>Submit</button>

    </form>
</div>
