<div>
    <form action="/events/new" method="POST">
        <input name="title" type="text" placeholder="title"> <br>
        <textarea name="description" cols="30" rows="3" placeholder="description"></textarea> <br>
        <input name="location" type="text" placeholder="location"> <br>
        <input name="date" type="date" placeholder="date"> <br> 
{{!-- http://localhost:3000/events/new --}}
    <button>Submit</button>

    </form>
</div>