<div class="bg-signup">
  <div class="select-buttons">

    <a href="/posts/new" class="btn btn-warning">Create Post</a>
    <a href="/events/new" class="btn btn-secondary">Create Event</a>
  </div>
</div>