body {
  padding: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.navbar-brand img {
  width: 40px; 
  height: auto;
  margin-right: 10px; 
}
