<div class="col-12 col-md-6 mx-auto py-4">
    <form action="/posts/new" method="POST">
        <input class="form-control" name="title" type="text" placeholder="title" required>  <br>
        <textarea class="form-control" name="description" cols="30" rows="3" placeholder="description" required></textarea> <br>
        <input class="form-control" name="origin" type="text" placeholder="origin" required> <br>
        <input class="form-control" name="destination" type="text" placeholder="destination" required> <br> 
        <button >Submit</button>

    </form>
</div>