<div>
    <form action="/posts/new" method="POST">
        <input name="title" type="text" placeholder="title" required>  <br>
        <textarea name="description" cols="30" rows="3" placeholder="description" required></textarea> <br>
        <input name="origin" type="text" placeholder="origin" required> <br>
        <input name="destination" type="text" placeholder="destination" required> <br> 
    <button>Submit</button>

    </form>
</div>