<div>
    <form action="/posts/new" method="post">
        <input name="title" type="text" placeholder="title"> <br>
        <textarea name="description" cols="30" rows="3" placeholder="description"></textarea> <br>
        <input name="origin" type="text" placeholder="origin"> <br>
        <input name="destination" type="text" placeholder="destination"> <br> 
    <button>Submit</button>

    </form>
</div>